<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>E-mail</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    <tr th:each="user: ${users}">
        <td th:text="${user.getId()}">id</td>
        <td th:text="${user.getName()}">name</td>
        <td th:text="${user.getAge()}">age</td>
        <td th:text="${user.getEmail()}">email</td>
        <td th:each="role : ${user.getRole()}" th:text="${role.getView()}">roles</td>
        <td>
            <a th:href="@{'/admin/edit' + ${user.getId()}}">Edit</a>
            <br/>
            <a th:href="@{'/admin/delete' + ${user.getId()}}">Delete</a>
        </td>
    </tr>
</table>
<form method="post" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>

</body>
</html>